In [26]:
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

In [37]:

df = pd.read_csv('results.csv', header=0 ,names=['inserts','deletes','started','ended','comments','size'])

In [55]:
df['started'] = df['started'].map(lambda x: datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S.%f'))
df['ended'] = df['ended'].map(lambda x: datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S.%f'))

df['delay'] = df['ended']- df['started']
df['delay'] = df['delay'].map(lambda x: x.total_seconds())

In [60]:
df.head()

,inserts,deletes,started,ended,comments,size,delay
0,0,10,2021-09-27 09:37:21.339024,2021-09-27 09:37:26.835931,Complete (KID 1706),10.0,5.496907
1,5,0,2021-09-27 09:35:30.097892,2021-09-27 09:36:02.355176,Complete (KID 1706),10.0,32.257284
2,0,10,2021-09-27 09:33:35.265159,2021-09-27 09:33:40.096236,Complete (KID 1706),10.0,4.831077
3,5,0,2021-09-27 09:31:44.027300,2021-09-27 09:32:15.782220,Complete (KID 1706),10.0,31.754920
4,0,10,2021-09-27 09:29:49.519688,2021-09-27 09:29:54.027385,Complete (KID 1706),10.0,4.507697

# 10MBytes, 5 rows, same time (50 MBytes transaction)

In [64]:
df[ ( df['size']==10.0) & (df['inserts']==5.0)]

,inserts,deletes,started,ended,comments,size,delay
1,5,0,2021-09-27 09:35:30.097892,2021-09-27 09:36:02.355176,Complete (KID 1706),10.0,32.257284
3,5,0,2021-09-27 09:31:44.027300,2021-09-27 09:32:15.782220,Complete (KID 1706),10.0,31.754920
5,5,0,2021-09-27 09:27:59.163488,2021-09-27 09:28:30.999418,Complete (KID 1706),10.0,31.835930
7,5,0,2021-09-27 09:24:12.892095,2021-09-27 09:24:45.171880,Complete (KID 1706),10.0,32.279785
9,5,0,2021-09-27 09:20:26.720487,2021-09-27 09:20:58.351340,Complete (KID 1706),10.0,31.630853
11,5,0,2021-09-27 09:16:41.261093,2021-09-27 09:17:12.405929,Complete (KID 1706),10.0,31.144836
13,5,0,2021-09-27 09:12:55.389951,2021-09-27 09:13:26.758447,Complete (KID 1706),10.0,31.368496
15,5,0,2021-09-27 09:09:09.656360,2021-09-27 09:09:40.355640,Complete (KID 1706),10.0,30.699280
17,5,0,2021-09-27 09:05:23.874743,2021-09-27 09:05:55.655301,Complete (KID 1706),10.0,31.780558
19,5,0,2021-09-27 09:01:38.276671,2021-09-27 09:02:10.501465,Complete (KID 1706),10.0,32.224794

# 5MBytes, 5 rows, same time (25 MBytes transaction)

In [66]:
df[ ( df['size']==5.0) & (df['inserts']==5.0)]

,inserts,deletes,started,ended,comments,size,delay
21,5,0,2021-09-27 08:57:52.616806,2021-09-27 08:58:09.287496,Complete (KID 1706),5.0,16.670690
23,5,0,2021-09-27 08:54:08.248217,2021-09-27 08:54:25.104047,Complete (KID 1706),5.0,16.855830
25,5,0,2021-09-27 08:50:24.157852,2021-09-27 08:50:41.692232,Complete (KID 1706),5.0,17.534380
27,5,0,2021-09-27 08:46:40.166591,2021-09-27 08:46:57.477611,Complete (KID 1706),5.0,17.311020
29,5,0,2021-09-27 08:42:56.462749,2021-09-27 08:43:13.675199,Complete (KID 1706),5.0,17.212450
31,5,0,2021-09-27 08:39:12.061855,2021-09-27 08:39:29.861981,Complete (KID 1706),5.0,17.800126
33,5,0,2021-09-27 08:35:28.370148,2021-09-27 08:35:46.107013,Complete (KID 1706),5.0,17.736865
35,5,0,2021-09-27 08:31:44.264941,2021-09-27 08:32:01.709111,Complete (KID 1706),5.0,17.444170
37,5,0,2021-09-27 08:28:00.088898,2021-09-27 08:28:18.252759,Complete (KID 1706),5.0,18.163861
39,5,0,2021-09-27 08:24:15.945853,2021-09-27 08:24:34.119836,Complete (KID 1706),5.0,18.173983
105,5,0,2021-09-26 07:50:28.138081,2021-09-26 07:50:45.602791,Complete (KID 1706),5.0,17.464710

# 20MBytes, 5 rows, same time (100 MBytes transaction)

In [67]:
df[ ( df['size']==20.0) & (df['inserts']==5.0)]

Empty DataFrame
Columns: [inserts, deletes, started, ended, comments, size, delay]
Index: []

# 2MBytes, 5 rows, same time (10 MBytes transaction)

In [ ]:
df[ ( df['size']==2.0) & (df['inserts']==5.0)]